$def with (content)
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Data Analysis System alfa 0.1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="head">
            <h1>Data Analysis System</h1>
        </div>
        <div id="middle">
            $:content
        </div>
        <div id="base">(c)Nevin Qin. All Rights Reserved<br />强烈建议您使用Chrome Firefox IE9以上浏览器使用本系统</div>
    </body>
</html>