<div id="navigation">
        <ul>
            <li class="whi"><a href="?subsys=UBSVM&func=csvupload">Upload the CSV</a></li>
            <li class="blu"><a href="?subsys=UBSVM&func=train">Begin Training</a></li>
        </ul>
    </div>
    <div id="content">
        <p>Choose the method from the left navigation</p>
        <p>This is the <strong>alfa 0.1</strong> version. Only the most basic function form CSV import and training/testing.</p>
        <p>To conduct training and testing complete, must upload two CSV files, the two form a training set and a test set.</p>
        <p>The classification and distribution of the final test set can give the program results.</p>
    </div>
</div>