<div id="upload">
    <form method="POST" enctype="multipart/form-data" action="/analysisPOST">
        <p>Filename:<input type="text" name="DBfilename" /></p>
        <p>Please Choose File:<input type="file" name="myfile" /></p>
        <p>What kind of the file is ?
        <input type="radio" name="filetype" value="1"/>Train Cloud File
        <input type="radio" name="filetype" value="2"/>Score File
        <input type="radio" name="filetype" value="3"/>Test Cloud File</p>
        <input type="hidden" name="apost" value="CloudKNN"/>
        <input type="submit" />
    </form>
</div>